# Entornos virtuales de Python
venv/
.venv/
env/
*.pyc
__pycache__/

# Archivos de entorno
**/.env

# Dependencias de Node.js
node_modules/

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de build
dist/
build/
